*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;   
}
body {
    overflow: hidden;
}
.container {
    width: 100%;
    min-height: 100vh;
    background-color: #22181C;
}
.logo {
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: #6b818c;
    letter-spacing: 3px;
    text-transform: lowercase;
}
b {
    font-size: 50px;
    color: #9bdeac;
}
/* #region burger */

/* #endregion */

nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    z-index: 111;
    line-height: 80px;
}
.navItems {
    display: flex;
}
.navItems li {
    list-style: none;
    margin: 0 15px;
}
.navItems li a {
    font-size: 25px;
    color: #6B818C;
    letter-spacing: 3px;
    text-decoration: none;
}
.navItems li:hover a, .links a:hover {
    color: #9bdeac;
}

.links a{
    font-size: 30px;
    color: #386c0b;
    margin: 25px 10px;
}
.wrapper {
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}
.wrapper::before {
    position: absolute;
    content: '';
    height: 200px;
    width: 200px;
    border-radius: 50%;
    left: 5%;
    top: 75%;
    background: linear-gradient(-45deg, #9bdeac, pink);
    animation: obj1 6s linear infinite;
}
.wrapper::after {
    position: absolute;
    content: '';
    height: 400px;
    width: 400px;
    border-radius: 50%;
    left: 60%;
    top: 5%;
    background: linear-gradient(-45deg, #9bdeac, pink);
    animation: obj2 6s linear infinite;
}
@keyframes obj1 {
    50% {
        left: 10%;
        top: 70%;
    }
}
@keyframes obj2 {
    50% {
        left: 55%;
        top: 10%;
    }
}
.cols {
    width: 50%;
}
.cols0 {
    width: 60%;
    z-index: 5;
}
.h1 {
    display: block;
    font-size: 7em;
    font-weight: 900;
    
}
.multiText {
    color: #9bdeac;
    text-transform: capitalize;
    font-family: 'Press Start 2P', Cursive;
}
p {
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: #6b818c;
}
.imgbox {
    position: relative;
    width: 50%;
    height: 50%;
}
.imgbox img {
    z-index: 111;
    position: relative;
    height: 100%;
    width: calc(130% - 80px);
    top: -25px;
    border-radius: 50%;
}

/*ABOUT STYLE*/

.aboutP {
    transform: translate(0, -20px);
}

h3 {
    color: #9bdeac;
    font-size: 2em;
}

.btns {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
}

button {
    background-color: #386c0b;
    border-style: none;
    font-size: 1.5em;
    font-weight: 400;
    padding: 8px 14px;
    margin: 20px 5px;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 15%;
}

button a {
    color: #22181C;
    text-decoration: none;
}

button:hover {
    background-color: #9bdeac;
}

/*PROJECT STYLE*/

.projPics {
    width: 100%;
    height: auto;
    padding: 2px;
    margin: 2px;
}

.wrapperP {
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}

.wrapperP::before {
    display: none;
}
.wrapperP::after {
    display: none;
}

.hP {
   color: #9bdeac;
   font-size: 2em;
   padding: 5px;
   margin-top: 5px;
}

#asphodel {
    margin: 5px;
    height: 350px;
}
  